extends layout

block content
	script(type='text/javascript').
		function checkPassword() {

			var frm = document.forms[0];

			if ( frm.email.value == "" ) {
				alert("사용자 계정값이 올바르지 않습니다.");
				return;
			}
			if ( frm.passwd.value.length < 8 ) {
				alert("비밀번호를 8자 이상으로 설정해주시기 바랍니다.");
				return;
			}
			if ( frm.passwd.value != frm.passwd_confirm.value ) {
				alert("비밀번호와 확인 비밀번호의 값이 서로 다릅니다.");
				return;
			}

			if ( confirm("비밀번호를 변경하시겠습니까?") ) {
				frm.submit();
			}
		}

	// 사용자 수정
	form(action="/user/update_password",method="POST")
		p
			label(for="email") 사용자명<br/>
			input#email(name="email",value=email,readonly)
		p
			label(for="passwd") 변경할 비밀번호<br/>
			input#passwd(type="password",name="passwd",value="")
		p
			label(for="passwd_confirm") 변경할 비밀번호(확인)<br/>
			input#passwd_confirm(type="password",name="passwd_confirm",value="")
		p
			input(type="button", onClick="checkPassword();return false;",value="사용자 수정")
			input#hashkey(name="hashkey",value=hashkey)
